@charset "EUC-KR";
#wrap{
			width:387px;
			height:400px;
			border:1px solid black;
			margin:0 auto;
			
			
		}
		.list{
			height:110px;
			margin:40px;
			
			
		}
		
		ul{
			list-style:none;
			display:inline-block;
			margin:0px;
			padding:0px;
			
			
		}
		
		li{
			float:left;
			width:100px;
			height:30px;
			border:1px solid black;
			text-align:center;
			padding:0px;
			margin:0px;
			line-height:30px;
		}
		form{
			text-align:center;
		}
		
		.title{
			font-weight: 600;
			font-size:18px;
		}
		
		input:last-child{
			width:100px;
			height:40px;
			background-color: #aaa;
			color:white;
			border-radius:5px;
		}
		input:last-child:hover{
			background-color: white;
			color:black;
		}